/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
.lobster {
    font-family: 'Lobster', cursive;
}
.container-1280 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar {
    background-color: #fff;
    padding: 2rem 2rem;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .lobster {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.dot-color {
    color: #FF7426;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #FF7426;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
